body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(164, 50, 199);
    color: white;
    text-align: center;
}